In [8]:
def div2(num):
    if num == 0: return False
    if num % 2 == 0: return True
    
def div3(num):
    if num == 0: return False
    if num % 3 == 0: return True
    
def div5(num):
    if num == 0: return False
    if num % 5 == 0: return True
    
def div235(num):
    if all([
        div2(num)
        ,div3(num)
        ,div5(num)
    ]):
        return True
    else:
        return False

In [13]:
div235(60)

True

In [14]:
[num for num in range(101) if div235(num)]

[30, 60, 90]

In [20]:
l = [(i,j,k) for i in range(5)
         for j in range(5)
         for k in range(5)
    ]

In [26]:
[(i,j,k)
    for i in range(5) if i % 2 == 0
    for j in range(5) if j % 3 == 0
    for k in range(5) if k % 5 == 0
]

[(0, 0, 0), (0, 3, 0), (2, 0, 0), (2, 3, 0), (4, 0, 0), (4, 3, 0)]

In [31]:
 squares = [num ** 2 for num in range(1,101)]

In [32]:
len(squares)

100

In [33]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
[
    tuple(i * j for j in range(1,11))
    for i in range(1,11)
]

[(1, 2, 3, 4, 5, 6, 7, 8, 9, 10),
 (2, 4, 6, 8, 10, 12, 14, 16, 18, 20),
 (3, 6, 9, 12, 15, 18, 21, 24, 27, 30),
 (4, 8, 12, 16, 20, 24, 28, 32, 36, 40),
 (5, 10, 15, 20, 25, 30, 35, 40, 45, 50),
 (6, 12, 18, 24, 30, 36, 42, 48, 54, 60),
 (7, 14, 21, 28, 35, 42, 49, 56, 63, 70),
 (8, 16, 24, 32, 40, 48, 56, 64, 72, 80),
 (9, 18, 27, 36, 45, 54, 63, 72, 81, 90),
 (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)]

```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
```

In [37]:
from math import factorial

In [38]:
def combo(n, k):
    return factorial(n) // (factorial(k) * factorial(n-k))

In [39]:
size = 10

In [43]:
pascal = [[combo(n,k) for k in range(n + 1)] for n in range(size + 1)]

In [44]:
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

In [45]:
factorial(5)

120

#### Nested Loops

In [47]:
l1 = [chr(n) for n in range(97,100)]

In [48]:
l1

['a', 'b', 'c']

In [52]:
l2 = [chr(n) for n in range(97+23,100+23)]

In [53]:
l2

['x', 'y', 'z']

```
'ax','ay','az','bx','by','bz','cx','cy','cz'
```

In [55]:
 [f'{x}{y}' for x in l1 for y in l2]

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [8]:
v1 = tuple(range(1,7))
v2 = tuple(range(10,70,10))

In [9]:
v1, v2

((1, 2, 3, 4, 5, 6), (10, 20, 30, 40, 50, 60))

In [17]:
vectors = list(map(lambda x, y: Juicy(x, y, x * y), v1, v2))

In [13]:
from collections import namedtuple

In [15]:
Juicy = namedtuple('Juicy', 'v1 v2 z')

In [18]:
vectors[0].v1

1

In [19]:
max(vectors)

Juicy(v1=6, v2=60, z=360)

In [20]:
[item.z for item in vectors]

[10, 40, 90, 160, 250, 360]

In [21]:
list(zip(v1, v2))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50), (6, 60)]

In [24]:
[t[0] * t[1] for t in zip(v1, v2)]

[10, 40, 90, 160, 250, 360]

In [28]:
[(x*y,) for x,y in zip(v1, v2)]

[(10,), (40,), (90,), (160,), (250,), (360,)]

In [32]:
sum(t[0] * t[1] for t in zip(v1, v2))

910

## Watch Out!!! ##

In [35]:
l = []
for number in range(5):
    l.append(number**2)

In [36]:
number

4

In [38]:
if 'number' in globals():
    del(number)

In [45]:
number = 100
[number**2 for number in range(5)]
number

100

In [51]:
funcs = [lambda x: (f'{x} ** {num} = {x ** num}') for num in range(5)]

In [54]:
funcs[2](10)

'10 ** 4 = 10000'

In [53]:
funcs[0](5)

'5 ** 4 = 625'

In [55]:
[num for num in range(5)]

[0, 1, 2, 3, 4]

In [56]:
[num * 2 for num in range(5)]

[0, 2, 4, 6, 8]

In [57]:
eval('num')

NameError: name 'num' is not defined

In [58]:
num=5

In [59]:
eval('num')

5

In [65]:
funcs = [lambda x: (f'{x} ** {num} = {x ** eval("num")}') for num in range(5)]

In [71]:
funcs[3](3)

'3 ** 3 = 27'

In [68]:
funcs = [lambda x, n=num: (f'{x} ** {n} = {x ** n}') for num in range(5)]